<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.factory_mgmt2.test">

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.example.factory_mgmt2" />

    <application>
        <!-- Optional: any application-specific settings -->
    </application>
</manifest>
